.page {
  position: relative;
  top: 0;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
